<div style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <div>
        <p style="
                font-weight: 600; 
                margin-bottom: 5px;
                font-size: 15px;">Customer Information</p>
        <div>
            <span>Name: </span>
            <span>{{{customerInfo.name}}}</span>
        </div>
        <div>
            <span>Mobile Number: </span>
            <span>{{{customerInfo.mobile_number}}}</span>
        </div>
        <div>
            <span>Email Address: </span>
            <span>{{{customerInfo.email}}}</span>
        </div>
    </div>
    <div>
        <p style="
            font-weight: 600; 
            margin-bottom: 5px;
            font-size: 15px;">Property</p>
        <div>
            <span>Property Type: </span>
            <span>{{{property.property_type}}}</span>
        </div>
        <div>
            <span>Property Details: </span>
            <span>{{{property.property_details}}}</span>
        </div>
        <div>
            <span>Location Preference: </span>
            <span>{{{property.location_preference}}}</span>
        </div>
        <div>
            <span>Budget Range: </span>
            <span>{{{property.budget_range}}}</span>
        </div>
         <div>
            <span>Bedrooms: </span>
            <span>{{{property.no_of_bedrooms}}}</span>
        </div>
         <div>
            <span>Bathrooms: </span>
            <span>{{{property.no_of_bathrooms}}}</span>
        </div>
         <div>
            <span>Feature & Amenities: </span>
            <span>{{{property.feature_and_amenities}}}</span>
        </div>
    </div>
</div>